/* Login */
.container {
  width: 100%;
  height: 100vh;
  background-color: #233B85;
}
.login_container {
  width: 40vh;
  height: 60vh;
  background-color: rgb(32, 123, 184);
  margin: 100px auto 30px;
  border-radius: 15px;
  display: flex;
  
}

.swapper_login {
  width: 90%;
  height: 80%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
}
.login_title{
  position: relative;
  top: 40px;
}
.login_username {
  padding-top: 50px;
}
.login_username input {
  width: 170px;
  height: 30px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 14px;
  border: none;
}
.login_password input {
  width: 170px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 14px;
  border: none;
}
.login_submit {
  width: auto;
  height: 30px;
  padding: 5px auto;
  border-radius: 10px;
  padding: 5px auto;
  background-color: #97a5cc;
  font-size: 14px;
  border: none;
  border: 1px solid black;
  cursor: pointer;
}
