

.container{
  width: 100%;
  height: auto;
  /* background: url(file:///Users/trangiacuong/Desktop/production%20ID_4911644.mp4); */
  background-color: aqua;
}
.navContainer{
  width: 100%;
  height: 5rem;
  background-color: aquamarine;
  display: flex;
  justify-content:flex-end;
  
}
.navContent{
  width: 30%;
  height: auto;
  margin: 10px 30px ;
  display: flex;
  
}
.navContent button:hover{
  color: blue;
}


.aboutUsBtn{
    width: 25%;
    height: 50%;
    border-radius: 10px;
    margin: 20px auto;
    color: black;
}
.loginBtn{
    width: 25%;
    height: 50%;
    border-radius: 10px;
    margin: 20px auto;
    color: black;
}
.registerBtn{
    width: 25%;
    height: 50%;
    border-radius: 10px;
    margin: 20px auto;
    
}

/* Register */
.regisContainer{
  width: 60vh;
  height:80vh;
  background-color: rgb(32, 123, 184);
  margin: 50px auto;
  border-radius: 15px;

}
.regisContent{
  width: 80%;
  height: 70%;
  /* border: 1px solid black; */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;

}
.usenameRegis input{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border:none;

  /* border:1px solid black; */
}
.passwordRegis input{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border:none;

  /* border:1px solid black; */
}
.phoneRegis input{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border:none;

  /* border:1px solid black; */
}
.emailRegis input{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  /* border:1px solid black; */
  border:none;
}







@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
