
/* Register */
.container{
  background-color: #233B85;
  width: 100%;
  height: 100vh;
}

.regisContainer{
    width: 40vh;
    height:65vh;
    background-color: rgb(32, 123, 184);
    margin: 80px auto;
    border-radius: 15px;
  
}
  .regisContent{
    width: 80%;
    height: auto;
    padding: 12px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  
  }
  .usenameRegis input{
    width: 210px;
    height: 30px;
    border-radius: 10px;
    padding-left:10px ;
    font-size:14px;
    border:none;
  }
  .passwordRegis input{
      width: 210px;
      height: 30px;
      border-radius: 10px;
      padding-left:10px ;
      font-size:14px;
      border:none;

  }
  .phoneRegis input{
    width: 210px;
      height: 30px;
      border-radius: 10px;
      padding-left:10px ;
      font-size:14px;
      border:none;
  }
  .emailRegis input{
      width: 210px;
      height: 30px;
      border-radius: 10px;
      padding-left:10px ;
      font-size:14px;
      border:none;
  }
  .register_submit button{
    width: auto;
    height: 30px;
    padding: 5px auto;
    border-radius: 10px;
    margin-top: 30px;
    padding:5px auto ;
    font-size:14px;
    border:none;
    background-color: #97a5cc;
    cursor:pointer;
    
}
